* {box-sizing:border-box;
  font-family: 'Montserrat', sans-serif;
}

header h1{
    text-align: center;
    font-size: 2.5em;
    margin: 1em;
}

.NavMenu{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    margin-bottom: 2em;
}

.SubMenu{
    display: flex;
    position: relative;
   
}

.SubMenu a{
    padding-left: 4vw;
    text-decoration: none;
    color: black;
}

.SlideShowContainer {
    width: 100%;
    position: relative;
    margin: auto;
    height: 450px;
  }

  .mySlides {
    /* display: none; */
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 20px;
    color: rgb(39, 33, 33);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: hsl(0, 0%, 100%);
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev {
    right: 6vh;
    border-radius: 3px 0 0 3px;
  }

  .text {
    color: #130d0d;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    left: 45%;
    top: 25%;
    max-width: 40%;
    text-align: center;
  }

  .text h2{
    font-size: 3em;
  }
  .text p{
    
  }

  .ViewMore{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 1em;
    height: 10%;
    width: 10%;
    position: absolute;
    left: 60%;
    bottom: 20%;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: rgb(255, 255, 255);
  }

                          /* NavImages */
  
  .SearchIcon{
    background: url('/assets/magnifying-glass.svg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
    position: absolute;
    left: 10%;
    /* top: 1em; */
  }

  .LikeIcon{
    background: url(./assets/like.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
    position: absolute;
    left: 10%;
    /* top: 1em; */
  }

  .ShoppingBagIcon{
    background: url(./assets/shopping-bag.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
    position: absolute;
    left: 50%;
    /* top: 1em; */
  }

  .colection{
    display: flex;
    position: relative;
    margin-top: 4em;
  }
  
  .collection div:nth-child(1){
    background:url(./assets/index.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:center;
    position: absolute;
    left: 0%;
    height: 260px;
    width: 33.3vw;
    margin-top: 4em;

  }

  .collection div:nth-child(2){
    background:url(./assets/index.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:center;
    position: absolute;
    left: 30%;
    width: 33.3vw;
    margin-top: 4em;

  }

  .collection div:nth-child(3){
    background:url(./assets/index.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:center;
    position: absolute;
    left: 60%;
    height: 260px;
    width: 33.3vw;
    margin-top: 4em;

    /* display: inline-block; */
  }

  .collection div h2{
    margin-left: 4em;
    margin-top: 6em;
  }

  .collection p{
    margin-left: 4em;
  }

  .rightFooter{
    position: fixed;
    right: 0%;
    top: 65%;
    background-color: transparent;
    /* color: white; */
    height: 40%;
    width: 10em;
  }

  .wheel{
    background: url(./assets/color-wheel.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    background-color:#B82222;
    height: 50px;
    width: 50px;
    margin-left: 6em;
    margin-bottom: 1em;
  }

  .cart{
    background: url(./assets/shopping-cart.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    background-color:rgb(255, 255, 255);
    height: 50px;
    width: 50px;
    margin-left: 6em;
    margin-bottom: 1em;
  }

  .chat{
    background: url(./assets/chat.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    background-color:rgb(209, 27, 27);
    height: 40%;
    width: 100%;
    border-radius: 50%;
    transform: scale(0.50);
    position: relative;
  }

  .chat .p{
    position: absolute;
    right: 10%;
    color: black;
    
  }

  .Categories{
    width: 100vw;
    height: 20px;
    position: absolute;
    top: 140%;
    left: 30%;

  }

  .Categories p{
    display: inline;
    text-align: center;
    position: static;
    left: 40%;
    padding: 2em;
    
  }